.chat-main
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-group
        グループ
      .main-header__leftbox__member-list
        メンバー
    .main-header__edit-btn
      = link_to "edit",new_group_path
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .input-box
        = f.label :image, class: ' input-box__text' do
          %i.fa.fa-image
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'